
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<a><img src="~/AdminLTE-3.0.4/404.jpg" alt="Örnek Resim" border="0" /></a>
<br />
<br />
<a href="#" class="btn btn-info">Ana Sayfaya Dön</a>

